.discount {
  text-align: center;
  padding-bottom: 0 !important;

  @include rm(640) {
    text-align: left;
  }
  @include rm(1220) {
    padding: 90px 0;
              }

  &__block {
    max-width: 450px;
  }

  &__wrapper {
    @include rm(640) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__sbtl {
    font-family: serif;
    line-height: 1.1;
    font-size: 26px;
    margin-bottom: 10px;

    & span {
      color: #AA1A66;
    }
  }

  &__img {
    @include rm(480) {
      width: fit-content;
      margin: 20px auto 0;
    }

    @include rm(640) {
      margin-left: 0;
    }
  }

  &__pack {
    max-width: 220px;
    margin: 0 auto 20px;

    @include rm(640) {
      max-width: 270px;
      margin-right: 15px;
    }

    @include rm(1024) {
      max-width: 450px;
      margin-right: 50px;
    }

    @include rm(1220) {
      max-width: 550px;
    }
  }

  &__txt {
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    @include rm(640) {
      justify-content: start;
    }
  }

  &__btn {
    padding: 15px 60px;

    max-width: fit-content;
    margin: 0 auto 15px;

    @include rm(640) {
      margin: 0;
    }
  }
}

.price {

  color: #151515;

  &__old {
    width: fit-content;
    text-decoration: line-through;
    font-size: 20px;
    font-style: italic;
    margin-right: 40px;
  }

  &__new {
    font-size: 28px;
  }
}
