@import "main";
@import "main-bottom";
@import "about";
@import "reviews";
@import "info";
@import "order";
@import "discount";
@import "media";
@import "last";
@import "last-bottom";

.back-color {
  background: #957BB7;
}
.ttl {
  font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    font-family: serif;
    font-weight: 700;
    @include rm(480) {
      font-size: 30px;
          }
          @include rm(768) {
            font-size: 32px;
                }
    @include rm(1024) {
      font-size: 38px;
      margin-bottom: 30px;
          }
}
strong {
  font-weight: 700;
}
.btn {
  border-radius: 7px;
  background: #FF6262;
  color: #FFF;
}
.hidden {
  display: none;
}
