@import "main";
@import "main-bottom";
@import "about";
@import "reviews";
@import "info";
@import "order";
@import "discount";
@import "media";
@import "last";
@import "last-bottom";

.back-color {
  background: #957BB7;
}
.ttl {
  font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}
strong {
  font-weight: 700;
}
.btn {
  border-radius: 7px;
  background: #FF6262;
  color: #FFF;
}
.hidden {
  display: none;
}
