extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить InSlim недорого. Цены, отзывы. Закажите InSlim сейчас!";
  - const themeColor = "#ffffff";

append head

append content
  include components/main
  include components/main-bottom
  include components/about
  include components/reviews
  include components/info
  include components/order
  include components/discount
  include components/media
  include components/last
  include components/last-bottom

append scripts
  
