.about.block
    .container
        .about__container
            h3.about__ttl Miért járul hozzá a menopauza a plusz kilók hirtelen gyarapodásához?
            h4.about__sbtl A menopauza során a szervezet hormonszintje globálisan megváltozik. A progeszteronszint csökken, az ösztrogénszint pedig ingadozik.
            ul.about__slider.slider
                li.slider__item
                    .slider__img
                        img(src="img/about1.png", alt="img")
                    p.slider__txt A hormonális hullámok negatívan befolyásolják az anyagcsere működését, és súlygyarapodást váltanak ki. A hormonális változásokat a súlygyarapodás a megnövekedett étvágy és kalóriabevitel okozza. A menopauzában lévő nők esetében gyakran megemelkedik az inzulinszint és az inzulinrezisztencia, ami szintén oka lehet az elhízásnak. Ezek a testben bekövetkező változások hozzájárulnak az izomtömeg elvesztéséhez és a bőr alatti zsír felhalmozódásához a "veszélyes" területeken - has, comb, fenék. A bőr petyhüdté és élettelenné válik, kialakul a cellulitisz, megjelenik egy "második toka", az arc kontúrja csökken. És mindez a hőhullámok, emésztési problémák, koncentrációs zavarok, memóriazavarok mellett...
                li.slider__item
                    .slider__img
                        img(src="img/about2.png", alt="img")
                    p.slider__txt Tegnap még karcsú, fiatal és energikus volt, és hirtelen rádöbben, hogy beköszöntött az öregség... Elveszíti az alakját, felszed plusz kilókat, amiket nem tud leadni. Felpuffadt hasát túlméretezett ruhák alá rejti, és kétségbeesetten keresi a módját, hogy visszanyerje korábbi külsejét és a saját testének érzését. Minden a menopauza első tüneteivel kezdődik, majd egyre rosszabb és rosszabb lesz... Mit tegyen, ha semmi sem segít? Végül is csak karcsú alakját szeretné visszakapni, nem igaz? Az összes történet inspirált és motivált a kutatásban.
                li.slider__item
                    .slider__img
                        img(src="img/about3.png", alt="img")
                    p.slider__txt A teste hormonális változásokon megy keresztül. A hormonok egyensúlyának megváltozása energiahiányt, fokozott vagy csökkent étvágyat, hangulatingadozást és alvászavarokat okoz. A nemi hormonszint csökkenése miatt a zsírszövet felhalmozódik. Ne aggódjon, ez egy természetes folyamat. Mindössze arra van szükség, hogy segítsünk a szervezetnek megbirkózni a hormonális átrendeződéssel, pótolva a szükséges mikroelemek hiányát.
