.discount.block
    .container
        .discount__container
            h1.discount__ttl.ttl K&uuml;l&ouml;nleges aj&aacute;nlat
            .discount__wrapper
                .discount__image
                    img.discount__pack(src='img/prod.png' alt='img')
                .discount__block
                    h2.discount__sbtl AJ&Aacute;NLAT 
                        span - 50%-os kedvezm&eacute;ny
                    .discount__txt Az Inslim egy nat&uacute;r term&eacute;k, amely term&eacute;szetes kivonatok komplex&eacute;t tartalmazza. Kifejezetten olyan n&odblac;k sz&aacute;m&aacute;ra k&eacute;sz&uuml;lt, akik &aacute;tmeneti id&odblac;szakon mennek kereszt&uuml;l. Az Inslim t&aacute;mogatja a hormonszintet, seg&iacute;t a tests&uacute;ly &eacute;s az &eacute;tv&aacute;gy kontroll&aacute;l&aacute;s&aacute;ban. Beind&iacute;tja az anyagcsere-folyamatokat a szervezetben, seg&iacute;t helyre&aacute;ll&iacute;tani &eacute;s jav&iacute;tani a fizikai er&odblac;nl&eacute;tet, megakad&aacute;lyozza a zs&iacute;rsz&ouml;vet felhalmoz&oacute;d&aacute;s&aacute;t &eacute;s a zs&iacute;rsejteket energi&aacute;v&aacute; alak&iacute;tja.
                    .discount__price.price
                        .price__old 
                            span.x_price_previous 207,90
                            span.x_currency Lei
                        .price__new
                            span.x_price_current 207,90
                            span.x_currency Lei
                    button.discount__btn.ever-popup-btn.btn(type='button') COMAND&Abreve; ACUM
                    .discount__img
                        img(src='img/payment.png' alt='img')
          
