.info.block
    .container
        .info__container
         h2.info__ttl.ttl A hormonális egyensúly és az egészséges anyagcsere támogatása az Inslim kapszulákkal
         img.info__img(src="img/info.png", alt="img")
         h4.info__sbtl Támogassa hormonjait, fokozza anyagcseréjét, csökkentse étvágyát és serkentse a zsírégetést az Inslim kapszulákkal!
         h4.info__txt Minden összetevőt úgy válogattunk össze, hogy a szervezetbe kerülve:
         ul.info__notitia.notitia
            li.notitia__item kiváltja azokat a folyamatokat, amelyek befolyásolják a túlsúlytól való megszabadulást
            li.notitia__item elősegíti az aktívabb zsírégetés folyamatát
            li.notitia__item csökkentve az étvágyat
            li.notitia__item segít az anyagcsere helyreállításában
            li.notitia__item táplálja a szervezetet és erőt ad neki, hogy megbirkózzon a hormonális zavarokkal
            li.notitia__item beindítja a szervezet megújulási és regenerálódási folyamatait

        
        .info__accordion.accordion
            h3.accordion__ttl Összetevők:
                img.accordion__open(src='img/close.svg' alt='img' width='18' height='18')

            ul.info__components.components
                li.components__item
                    strong Anan&aacute;sz kivonat
                    |  - elnyomja a zs&iacute;rtermel&eacute;st, enyh&iacute;ti a menopauza t&uuml;neteit, el&odblac;seg&iacute;ti az eg&eacute;szs&eacute;ges em&eacute;szt&eacute;st. Alapvet&odblac; vitaminok &eacute;s &aacute;sv&aacute;nyi anyagok forr&aacute;sa. T&aacute;mogathatja a szervezetet a hormon&aacute;lis v&aacute;ltoz&aacute;sok sor&aacute;n. Gazdag antioxid&aacute;nsokban &eacute;s b&eacute;ta-karotinban.
                li.components__item
                    strong Ak&aacute;cia rost
                    |  - term&eacute;szetes prebiotikum. Gy&oacute;gy&iacute;tja a b&eacute;lfl&oacute;r&aacute;t, helyre&aacute;ll&iacute;tja a gyomor-b&eacute;lrendszer eg&eacute;szs&eacute;g&eacute;t. Cs&ouml;kkenti az &eacute;tv&aacute;gyat, lass&iacute;tja a gyors sz&eacute;nhidr&aacute;tok felsz&iacute;v&oacute;d&aacute;s&aacute;t, telts&eacute;g&eacute;rzetet ad. Serkenti az eg&eacute;szs&eacute;ghez &eacute;s sz&eacute;ps&eacute;ghez sz&uuml;ks&eacute;ges B-vitaminok termel&eacute;s&eacute;t, elsz&iacute;vja a m&eacute;reganyagokat &eacute;s el&odblac;seg&iacute;ti a szervezet tisztul&aacute;s&aacute;t.
                li.components__item
                    strong Konjak gl&uuml;komann&aacute;n
                    |  - lass&iacute;tja a cukor &eacute;s a koleszterin felsz&iacute;v&oacute;d&aacute;s&aacute;t, &eacute;s t&aacute;pl&aacute;lja a b&eacute;lben l&eacute;v&odblac; j&oacute;t&eacute;kony bakt&eacute;riumokat, amelyek zs&iacute;rsavakk&aacute; alak&iacute;tj&aacute;k &aacute;t. A gl&uuml;komann&aacute;n a legt&ouml;bb m&aacute;s oldhat&oacute; rostt&oacute;l kiv&eacute;teles s&udblac;r&udblac;s&eacute;g&eacute;vel k&uuml;l&ouml;nb&ouml;zik, ami k&uuml;l&ouml;n&ouml;sen hat&eacute;konny&aacute; teszi a fogy&aacute;s szempontj&aacute;b&oacute;l.
                li.components__item
                    strong Guarana mag kivonat
                    |  - koffeint tartalmaz, amely fokozhatja az anyagcser&eacute;t &eacute;s serkentheti a zs&iacute;r&eacute;get&eacute;st. Ez seg&iacute;t t&aacute;mogatni a t&uacute;ls&uacute;ly lead&aacute;s&aacute;nak &eacute;s a karcs&uacute; alak meg&odblac;rz&eacute;s&eacute;nek folyamat&aacute;t.
                li.components__item
                    strong Nopal kivonat
                    |  - term&eacute;szetes cukor &eacute;s zs&iacute;rblokkol&oacute;. T&aacute;mogatja a zs&iacute;ranyagcser&eacute;t, korrig&aacute;lja a b&eacute;lfl&oacute;ra m&udblac;k&ouml;d&eacute;s&eacute;t, nagy mennyis&eacute;g&udblac; rostot tartalmaz, normaliz&aacute;lja a koleszterinszintet, cs&ouml;kkenti az &eacute;hs&eacute;g&eacute;rzetet.
                li.components__item
                    strong M&aacute;lna kivonat
                    |  - ketonokat tartalmaz, amelyek a lipol&iacute;zis (zs&iacute;rbont&aacute;s) folyamat&aacute;nak t&aacute;mogat&aacute;s&aacute;val el&odblac;seg&iacute;tik a fogy&aacute;st. Szab&aacute;lyozhatja az &eacute;tv&aacute;gyat &eacute;s a v&eacute;rcukorszintet.
