.main.block.last
    .container
        .main__container
            h2.main__ttl AZ IDŐ MÚLÁSÁVAL PLUSZ KILÓKAT SZEDETT FEL?
            h3.main__sbtl Nincs egyedül! Nincs egyedül!
            form.last__form.form.x_order_form(action='submit' method='post')
                input.form__group(name='name' type='text' required='' placeholder='Ваше имя')
                input.form__group(name='phone' type='tel' required='' placeholder='Ваш телефон')
                button.form__btn.btn(type='submit') Order


