.main.block
    .container
        .main__container
            ul.main__list.list
                li.list__item 
                    a.list__link(href="#about") About
                li.list__item 
                    a.list__link(href="#reviews") Reviews
                li.list__item 
                    a.list__link(href="#media") Media
                li.list__item 
                    a.list__link(href="#info") Info
            .main__block
                h2.main__ttl AZ IDŐ MÚLÁSÁVAL PLUSZ KILÓKAT SZEDETT FEL?
                h3.main__sbtl Nincs egyedül! Nincs egyedül! Nincs egyedül!
                a.main__btn(href="#") Read more


