.main-bottom.back-color.block
    .container
        p.main-bottom__txt Ez egy gyakori probléma a nőknél a menopauza idején.
        p.main-bottom__txt A zsír felhalmozódik a szervezetben, még akkor is, ha odafigyelünk az étrendünkre és rendszeresen sportolunk.