.main.block
    .container
        .main__container
            ul.main__list.list
                li.list__item 
                    a.list__link(href="") Main
                li.list__item 
                    a.list__link(href="") About
                li.list__item 
                    a.list__link(href="") Revives
                li.list__item 
                    a.list__link(href="") Contacts
            .main__block
                h2.main__ttl AZ IDŐ MÚLÁSÁVAL PLUSZ KILÓKAT SZEDETT FEL?
                h3.main__sbtl Nincs egyedül! Nincs egyedül! Nincs egyedül!
                a.main__btn(href="#") Read more


