.media.block
  .container
    .media__container
        h1.media__ttl.ttl Inslim a k&ouml;z&ouml;ss&eacute;gi m&eacute;di&aacute;ban
        .media__comments.comments
            .comments__block
                .comments__item
                    .comments__avatar
                        img(src='img/ava-15.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Nov&aacute;k Ir&eacute;n
                        p.comments__txt M&aacute;r 3 hete szedem a kapszul&aacute;kat, &eacute;s t&eacute;nyleg m&udblac;k&ouml;dik. A h&odblac;hull&aacute;mok m&aacute;r nem olyan intenz&iacute;vek &eacute;s sz&ouml;rny&udblac;ek!!!!
                .comments__item
                    .comments__avatar
                        img(src='img/ava-9.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Bencsik Katalin
                        p.comments__txt Megkaptam a k&eacute;sz&iacute;tm&eacute;nyt, &eacute;s boldog vagyok...... &Uacute;jra fogom rendelni, mert nagy megk&ouml;nnyebb&uuml;l&eacute;st &eacute;rzek, 80%-kal kevesebb h&odblac;hull&aacute;mom van. Az a sz&ouml;rny&udblac; &eacute;rz&eacute;s, hogy belefulladsz a saj&aacute;t izzads&aacute;godba, t&eacute;nyleg borzaszt&oacute; volt. Most m&aacute;r elm&uacute;lt. Nagyon aj&aacute;nlom!
                .comments__item
                    .comments__avatar
                        img(src='img/ava-13.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Balogh Gizella
                        p.comments__txt Csak azt tudom mondani, hogy k&ouml;sz&ouml;n&ouml;m &#x1F64F;. Az els&odblac; ami t&eacute;nyleg seg&iacute;t nekem. K&ouml;sz&ouml;n&ouml;m!
                .comments__item
                    .comments__avatar
                        img(src='img/ava-2.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Nemes Vikt&oacute;ria
                        p.comments__txt Nagyszer&udblac; term&eacute;k. Az &aacute;llapotom legal&aacute;bb 80%-kal javult. Bizalommal aj&aacute;nlom.
                .comments__item
                    .comments__avatar
                        img(src='img/ava-11.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Cs&eacute;bi Kl&aacute;ra
                        p.comments__txt M&aacute;r egy hete haszn&aacute;lom, &eacute;s nagyon sokat seg&iacute;tett. A h&odblac;hull&aacute;mok elm&uacute;ltak, &eacute;s sokkal jobban &eacute;rzem magam. &#x1F60A;
                .comments__item
                    .comments__avatar
                        img(src='img/ava-6.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong F&aacute;bi&aacute;n Anita
                        p.comments__txt Nagyon el&eacute;gedett vagyok! Nekem nagyon seg&iacute;tett.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-10.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Hajdu Alexandra
                        p.comments__txt Az Inslim helyrehozta a hormonjaimat, elm&uacute;ltak a h&odblac;hull&aacute;mok &eacute;s kevesebb a migr&eacute;nem. &Ouml;sszess&eacute;g&eacute;ben jobban &eacute;rzem magam.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-14.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong P&aacute;l Mariann
                        p.comments__txt M&aacute;sodszor rendeltem, mert &uacute;gy &eacute;rzem, javult az &eacute;letmin&odblac;s&eacute;gem.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-5.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong B&aacute;lint Ildik&oacute;
                        p.comments__txt &Eacute;n is haszn&aacute;lom, &eacute;s teljesen el&eacute;gedett vagyok.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-11.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Nemes Dorina
                        p.comments__txt Most kezdtem el szedni a m&aacute;sodik csomagot, &eacute;jszaka jobban alszom, t&ouml;bbet pihentem. Emellett az &eacute;tv&aacute;gyam is cs&ouml;kkent, &eacute;s &uacute;gy &eacute;rzem, a testem m&aacute;r nem tart vissza annyi vizet. T&ouml;bb energi&aacute;m van MINDENRE. &Ouml;r&uuml;l&ouml;k.
            .comments__block
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-1.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Nov&aacute;k Ir&eacute;n
                        p.comments__txt N&eacute;h&aacute;ny napja szedem, de kezdenek l&aacute;tsz&oacute;dni az eredm&eacute;nyek, &eacute;s v&eacute;gre alszom &eacute;jszaka. A sz&aacute;ll&iacute;t&aacute;s &eacute;s minden egy&eacute;b is g&ouml;rd&uuml;l&eacute;keny volt...
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-3.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Bihari &Eacute;va
                        p.comments__txt Nagyon aj&aacute;nlom, remek&uuml;l m&udblac;k&ouml;dik, egy h&oacute;napja szedem &eacute;s nagyon el&eacute;gedett vagyok, biztosan fogok m&eacute;g rendelni.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-16.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Kiss Karolina
                        p.comments__txt M&aacute;r szedem, &eacute;s minden rendben van. 14 nap &eacute;s m&aacute;ris &eacute;rzem a pozit&iacute;v hat&aacute;st.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-2.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Kozma Vera
                        p.comments__txt Fantasztikus, egy h&eacute;t ut&aacute;n a h&odblac;hull&aacute;mok elm&uacute;ltak.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-12.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Koncz Zsuzsa
                        p.comments__txt Hell&oacute;! Beszedtem az els&odblac; csomagot, &eacute;s szeretn&eacute;m megrendelni a m&aacute;sodikat. 100%-ig el&eacute;gedett vagyok.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-4.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong &Mcy;ajor Krisztina
                        p.comments__txt Majdnem egy h&oacute;napja haszn&aacute;lom, &eacute;s az els&odblac; hat&aacute;sok 14 nap ut&aacute;n jelentkeztek. Sz&ouml;rny&udblac; h&odblac;hull&aacute;maim voltak &eacute;jjel-nappal. Mostanra a h&odblac;hull&aacute;mok szinte teljesen elm&uacute;ltak. Ha &uacute;jabb h&odblac;hull&aacute;m l&eacute;p fel, csak 10%-kal &eacute;rzem annak, mint amit kor&aacute;bban &eacute;reztem. Ez hihetetlen megk&ouml;nnyebb&uuml;l&eacute;s sz&aacute;momra.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-8.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Jakab Am&aacute;lia
                        p.comments__txt Szkeptikus voltam, de az&eacute;rt kipr&oacute;b&aacute;ltam. M&aacute;r 5 h&oacute;napja szedem. T&eacute;nyleg m&udblac;k&ouml;dik, pontosan &uacute;gy, ahogy meg van &iacute;rva.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-13.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Fodor Odett
                        p.comments__txt Val&oacute;j&aacute;ban &aacute;ltal&aacute;ban soha nem dics&eacute;rem a term&eacute;keket, de az Inslim-et szeretem. A h&odblac;hull&aacute;m miatt probl&eacute;m&aacute;im voltak a munkahelyemen. N&eacute;h&aacute;ny nap szed&eacute;s ut&aacute;n a hull&aacute;mok annyira lecsillapodtak, hogy m&aacute;r nincsenek probl&eacute;m&aacute;im. Nagyszer&udblac;, nagyon aj&aacute;nlom.
                .hidden.comments__item
                    .comments__avatar
                        img(src='img/ava-7.png' alt='img' )
                    .comments__wrap
                        p.comments__name
                            strong Guly&aacute;s Bernadett
                        p.comments__txt A m&aacute;sodik csomag fel&eacute;n&eacute;l j&aacute;rok, &eacute;s a dolgok t&eacute;nyleg egyre jobbak. A h&odblac;hull&aacute;mok m&aacute;r nem olyan intenz&iacute;vek, &eacute;rzem a k&uuml;l&ouml;nbs&eacute;get, k&uuml;l&ouml;n&ouml;sen &eacute;jszaka.
            #showHideBtn.comments__btn Show more
