.reviews.block.back-color
    .container
        .reviews__container
            ul.reviews__slider-r.slider-r
                li.slider-r__item
                    .slider-r__img
                        img(src="img/rev1.png", alt="img")
                    .slider-r__box
                        p.slider-r__txt 49 éves vagyok. A menopauza alatt több kilót szedtem fel, és nem tudtam leadni őket semmilyen módon, pedig egészségesen táplálkozom és sportolok. Ráadásul súlyos hőhullámok is jelentkeztek nálam. Az Instagramon láttam egy reklámot ezekről a kapszulákról, és azonnal megrendeltem őket. Szó szerint egy hét után csökkent az étvágyam, és összességében jobban kezdtem érezni magam. Már egy hónapja szedem az InSlimet, és ez idő alatt 5 kg-ot fogytam! Tele vagyok energiával és mindig jó hangulatom van.
                        .slider-r__bottom
                            span.slider-r__name Nemes Piroska
                            span.slider-r__order Order now
                li.slider-r__item
                    .slider-r__img
                        img(src="img/rev2.jpg", alt="img")
                    .slider-r__box
                        p.slider-r__txt A menopauza alatt alvászavarokkal, feledékenységgel, emésztési problémákkal és intim szárazsággal küzdöttem. Érthető, hogy a test az évek során változik. A kellemetlen tüneteket és hatásokat azonban nem fogadom el csak úgy, hanem igyekszem a megfelelő megközelítéssel kezelni őket: minden nap 2 kapszula InSlim-et szedek, amely teljesen természetes összetevőket tartalmaz, és nincs káros mellékhatása.
                        .slider-r__bottom
                            span.slider-r__name Antal Tünde
                            span.slider-r__order Order now
                li.slider-r__item
                    .slider-r__img
                        img(src="img/rev3.jpg", alt="img")
                    .slider-r__box
                        p.slider-r__txt Kevesebb mint két hét elteltével az InSlim kapszula használata után sokkal jobban kezdtem aludni. Javult a memóriám és a koncentrációm. Különösen nehezen birkóztam meg a feledékenységgel, mert mindig is nagyon büszke voltam a kiváló memóriámra. Most sokkal kiegyensúlyozottabb és összeszedettebb vagyok.
                        .slider-r__bottom
                            span.slider-r__name Lengyel Anna
                            span.slider-r__order Order now
                li.slider-r__item
                    .slider-r__img
                        img(src="img/rev4.png", alt="img")
                    .slider-r__box
                        p.slider-r__txt Már régóta túlsúlyos vagyok. De a menopauza alatt még többet híztam, és szörnyen néztem ki. Nem tudtam magamra nézni a tükörben. Rengeteg édességet ettem, nagyon nehéz volt lemondani róla. De az InSlim kapszula segített abban, hogy kordában tartsam az étvágyamat, és ne kapkodjak az ételek után, mint egy őrült. Remekül érzem magam, már 11 kg-ot fogytam.
                        .slider-r__bottom
                            span.slider-r__name Gál Mária
                            span.slider-r__order Order now
                li.slider-r__item
                    .slider-r__img
                        img(src="img/rev5.png", alt="img")
                    .slider-r__box
                        p.slider-r__txt Két hónapja rendszeresen szedem az InSlim-et, és kiváló eredményeket tapasztalok. Már 14kg-ot fogytam! Többé már nincs ellenállhatatlan étvágyam, és sokkal kevesebbet eszem. Több testmozgást építettem be a napi rutinomba, és az egészségtelen ételek utáni sóvárgás megszűnt, köszönhetően annak, hogy egészségesebb ételeket építettem be az étrendembe. Sokkal jobban érzem magam, rengeteg energiám van, és nincsenek többé hőhullámaim. Mindenkinek ajánlom, akinek hasonló problémái vannak, mint nekem.
                        .slider-r__bottom
                            span.slider-r__name Sipos Mónika
                            span.slider-r__order Order now
                li.slider-r__item
                    .slider-r__img
                        img(src="img/rev6.png", alt="img")
                    .slider-r__box
                        p.slider-r__txt Anyukám képes volt 17 kg-ot fogyni az InSlim segítségével mindössze 2 kúra alatt. Ugyanakkor alig kínozta magát diétákkal és sporttal. A túlsúly mellett nagyon aggasztották a menopauza tünetei és az emésztési problémák. Mostanra mindez megszűnt.  Nagyon jó termék, köszönöm!
                        .slider-r__bottom
                            span.slider-r__name Bálint Veronika
                            span.slider-r__order Order now
                li.slider-r__item
                    .slider-r__img
                        img(src="img/rev7.png", alt="img")
                    .slider-r__box
                        p.slider-r__txt 52 éves vagyok, a menopauza körülbelül 3 évvel ezelőtt kezdődött. Felpuffadt volt a hasam és a combomon is hízott. Elkezdtem szedni ezeket a kapszulákat, nem igazán reméltem eredményt, mert nagyon sokáig nem mozdult a súlyom. Az utasításoknak megfelelően szedtem őket. Végeredményben 10 nap alatt, mínusz 4 kg. Rendeltem még két csomagot. A kapszulák tényleg működnek)
                        .slider-r__bottom
                            span.slider-r__name Király Krisztina
                            span.slider-r__order Order now

